{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br><br>
        <h1>Welcome to Skillstorm!</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, suscipit. Eligendi, necessitatibus rerum dolor obcaecati ut rem iure exercitationem eius libero fuga id dicta ipsam, illum asperiores. Quo, ut excepturi!</p>
        <button type="button" class="btn btn-secondary">Click here!</button>
    </div>
        

{% endblock content %}
    