{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br><br>
        <h1>Welcome to Skillstorm!</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, suscipit. Eligendi, necessitatibus rerum dolor obcaecati ut rem iure exercitationem eius libero fuga id dicta ipsam, illum asperiores. Quo, ut excepturi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, minima nam quo delectus inventore perspiciatis similique possimus dolorum corrupti natus recusandae voluptatem nihil optio in laudantium at dolor ipsam suscipit!</p>
        <a href="{{url_for('ec2_ssh_lab')}}" class="btn btn-secondary">AWS EC2 Remote SSH</a>
        <br><br>
        <a href="{{url_for('iam_user_lab')}}" class="btn btn-secondary">IAM Create User</a>
        <br><br>
        <a href="{{url_for('create_vpc')}}" class="btn btn-secondary">Create a VPC</a>
        <br><br>
        <a href="{{url_for('traffic_security')}}" class="btn btn-secondary">Network Security</a>
        <br><br>
        <a href="{{url_for('s3_demo')}}" class="btn btn-secondary">Simple Storage Service</a>
    </div>
        
    

{% endblock content %}
    